h1{
    color: white;
    text-align: center;
    background: rgb(181,23,194);
    background: linear-gradient(90deg, rgba(181,23,194,1) 3%, rgba(81,194,23,1) 14%, rgba(69,142,135,1) 28%, rgba(45,37,177,1) 56%, rgba(197,210,33,1) 79%, rgba(0,212,255,1) 100%);
    padding: 10px 55px;
    border-radius: 20px;
}

body{
    background: rgb(181,23,194);
background: linear-gradient(90deg, rgba(181,23,194,1) 3%, rgba(81,194,23,1) 14%, rgba(69,142,135,1) 28%, rgba(45,37,177,1) 56%, rgba(197,210,33,1) 79%, rgba(0,212,255,1) 100%);
padding: 10p 55p;
border-radius: 20px;
}